<%- include("../partials/header") %>
<div class="standout">
	<h3 class="centerel">
		This is the dashboard! More content will be added soon, but for now, use the "My Lists" tab.
	</h3>
</div>
<%- include("../partials/footer") %>