<%- include("../partials/header") %>
<div class="ui container">
	<h1>
		Welcome to R2's Corner!
	</h1>
	<p>
		I created this website to help YOU. It is very early in development, so don't expect superb performance. Thank you for taking a look at my website, and I hope you find it useful!
	</p>
</div>
<div class="standout">
	<h1 class="centerel">
		Sign up to get started!
	</h1>
	<div class="centerel">
		<a href="/register" class="ui blue button">Sign Up</a>
		<a href="/login" class="ui green button">Log In</a>		
	</div>
</div>
<%- include("../partials/footer") %>
